<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="product1" class="com.stschool.springdi.Product">
        <property name="id" value="101"/>
        <property name="name" value="Dell Laptop"/>
        <property name="price" value="50000"/>
        <property name="discount" value="10"/>
    </bean>


    <bean id = "order1" class="com.stschool.springdi.Order">
        <property name="orderId" value="1001"/>
        <property name="quantity" value="10"/>
        <property name="product" ref="product1"/>

    </bean>

</beans>